# R
.Rhistory
.RData
.Rproj.user/
*.Rproj

# Données lourdes
data/raw/

# Outputs temporaires
results/tmp/
data/slide4/region_R2/cell_metadata.csv
data/slide4/region_R2/cell_by_gene.csv
data/slide4/region_R2/detected_transcripts.csv
data/slide4/region_R3/cell_by_gene.csv
data/slide4/region_R3/cell_metadata.csv
data/slide4/region_R3/detected_transcripts.csv
data/slide4/region_R2/cell_boundaries.parquet
data/slide4/region_R3/cell_boundaries.parquet
